<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vakond</title>
</head>
<body>
    <script src="/static/js/phaser.js" defer></script>
    <script src="/static/js/Boot.js" defer></script>
    <script src="/static/js/Preload.js" defer></script>
    <script src="/static/js/MainMenu.js" defer></script>
    <script src="/static/js/Game.js" defer></script>
    <script src="/static/js/main.js" defer></script>
</body>
</html>